<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="container">
    <div class="items-center py-10 row">

      <!-- Logo -->
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left">
        <a
          class="inline-block navbar-brand"
          href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>

        <!-- Company Details -->
        <div class="mt-6 text-light dark:text-darkmode-light">
          <p class="mb-1 font-semibold">CATTO SOFTWARE LLP</p>
          <p class="mb-1">GSTIN: 37AAVFC8204D1ZC</p>
          <p class="mb-1">LLPIN: ACS-5099</p>

          <!-- Optional Address -->
          <p class="mt-4 leading-7">
            Vizag, Andhra Pradesh - 530048 <br>
            India
          </p>
        </div>
      </div>

      <!-- Menu + Quote -->
      <div class="mb-8 text-center lg:col-6 lg:mb-0">
        <ul>
          {{ range site.Menus.footer }}
            <li class="inline-block m-3">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>

        <!-- Quote -->
        <p class="mt-3 text-light dark:text-darkmode-light">
          You miss 100% of the shots you don't take - Michael Scott
          {{ site.Params.copyright | markdownify }}
        </p>
      </div>

      <!-- Social Icons -->
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:mt-0 lg:text-right">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>

    </div>
  </div>

  <!-- Border only -->
  <!-- <div class="py-2 border-t border-border dark:border-darkmode-border"></div> -->
</footer>